#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footer {
  background-color: lightgreen;
  height: 50px;
  text-align: center;
  width: 100%;
}
